@model Spice.DataContarct.ViewModel.Receipe_ViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}
<script src="~/Scripts/Receipe/Receipe_Event.js"></script>
<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">Receipe</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Admin</a>
                <a class="breadcrumb-item" href="#">Receipe</a>
                <span class="breadcrumb-item active">Index</span>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="col-lg-12 text-right">
            <button class="btn btn-primary" id="btnAddReceipe">
                <i class="anticon anticon-plus-circle m-r-5"></i>
                <span>Add Receipe</span>
            </button>
        </div>
        <div id="dvMsg">
            <div class="alert alert-success dvSuccess" style="display:none;">
                <div class="d-flex align-items-center justify-content-start">
                    <span class="alert-icon">
                        <i class="anticon anticon-check-o"></i>
                    </span>
                    <span>Record Addedd Successfully!!!</span>
                </div>
            </div>
            <div class="alert alert-success dvUpdate" style="display:none;">
                <div class="d-flex align-items-center justify-content-start">
                    <span class="alert-icon">
                        <i class="anticon anticon-check-o"></i>
                    </span>
                    <span>Record Updated Successfully!!!</span>
                </div>
            </div>
            <div class="alert alert-danger dvError" style="display:none;">
                <div class="d-flex justify-content-start">
                    <span class="alert-icon m-r-20 font-size-30">
                        <i class="anticon anticon-close-circle"></i>
                    </span>
                    <div>
                        <h5 class="alert-heading">Error</h5>
                        <p>Failed to Insert</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="m-t-25" style="display:none;" id="dvInsert">
                <form id="frmReceipe" method="post" enctype="multipart/form-data">
                    <div class="form-row">
                        <input type="hidden" id="hdnReceipeId" name="receipe.ReceipeId" />
                        <div class="form-group col-md-4">
                            <label for="inputReceipeName">Receipe Name</label>
                            <input type="text" class="form-control required" id="txtReceipeName" placeholder="Receipe Name" name="receipe.ReceipeName" value="@Model.Receipe.ReceipeName">
                            <span class="error"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputDescription">Description</label>
                            <textarea class="form-control required" name="receipe.Description" id="txtDescription" placeholder="Description">@Model.Receipe.Description</textarea>
                            <span class="error"></span>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputProduct">Product</label>
                            <select class="form-control required" id="ddlProduct" name="receipe.ProductId" placeholder="Product Name">
                                <option value="" selected>Select Product...</option>
                                @if (Model.lst_Product != null)
                                {
                                    foreach (var item in Model.lst_Product)
                                    {
                                        if (item.ProductId == Model.Receipe.ProductId)
                                        {
                                            <option value="@item.ProductId" selected>@item.ProductName</option>
                                        }
                                        else
                                        {
                                            <option value="@item.ProductId">@item.ProductName</option>
                                        }

                                    }
                                }
                            </select>
                            <span class="error"></span>
                        </div>
                        <div class="form-group col-md-4 d-flex align-items-center">
                            <div class="switch m-r-10">
                                <input type="checkbox" id="switch-1" checked>
                                <label for="switch-1"></label>
                            </div>
                            <input type="hidden" id="txtIsActive" value="true" name="receipe.IsActive">

                            <label>Is Active</label>
                        </div>
                    </div>

                    <button id="btnSubmit" class="btn btn-primary" type="submit">Save</button>
                    <a class="btn btn-primary" href="@Url.Action("ReceipeMaster","Receipe")">Cancel</a>

                </form>
            </div>

            <div id="myGrid_Receipe" style="height: 500px; width:100%;" class="ag-theme-alpine"></div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        if ('@ViewBag.Result'!= "")
        {
            if ('@ViewBag.Result' == "1") {
                $('.dvSuccess').show();
            }
            else if('@ViewBag.Result' == "2")
            {
                $('.dvUpdate').show();
            }
            else {
                $('.dvError').show();
            }
        }
        $("#dvMsg").delay(2000).hide(0);
    });
</script>

