@model Spice.DataContarct.ViewModel.Receipe_ViewModel
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}

<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">Receipe List</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="javascript:void(0)" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Admin</a>
                <a class="breadcrumb-item" href="javascript:void(0)">Receipe</a>
                <span class="breadcrumb-item active">Search</span>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row m-b-30">
                <div class="col-lg-8">
                    <div class="d-md-flex">
                        <div class="m-b-10 m-r-15">
                            <select class="custom-select" id="drpProduct" style="min-width: 180px;">
                                @if (Model.lst_Product != null)
                                {
                                    foreach (var item in Model.lst_Product)
                                    {
                                        <option value="@item.ProductId">@item.ProductName</option>

                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-right">
                    <a class="btn btn-primary" href="@Url.Action("Index", "Receipe")">
                        <i class="anticon anticon-plus-circle m-r-5"></i>
                        <span>Add Receipe</span>
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover e-commerce-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Receipe Name</th>
                            <th>Description</th>
                            <th>Product</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.lst_Receipe != null)
                        {
                            var count = 1;
                            foreach (var item in Model.lst_Receipe)
                            {
                                <tr>
                                    <td>
                                        @count
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <h6 class="m-b-0 m-l-10">@item.ReceipeName</h6>
                                        </div>
                                    </td>
                                    <td>@item.Description</td>
                                    <td>@item.ProductName</td>

                                    <td>
                                        <a class="btn btn-icon btn-hover btn-sm btn-rounded pull-right" href="@Url.Action("GetReceipeById", "Receipe")?ReceipeId=@item.ReceipeId">
                                            <i class="anticon anticon-edit"></i>
                                        </a>
                                        <a class="btn btn-icon btn-hover btn-sm btn-rounded" href="@Url.Action("DeleteReceipe", "Receipe")?ReceipeId=@item.ReceipeId">
                                            <i class="anticon anticon-delete"></i>
                                        </a>
                                    </td>
                                </tr>
                                count++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

