@model Spice.DataContarct.ViewModel.OrderMaster_ViewModel

<div class="table-responsive">
    <table class="table table-hover e-commerce-table">
        <thead>
            <tr>
                <th>Invoince No.</th>
                <th>Customer Name</th>
                <th>Customer City</th>
                <th>Order Date</th>
                <th>Status</th>
                <th>Action</th>
                <th>History</th>
                <th>Invoice</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.lst_orderMaster != null)
            {
                foreach (var item in Model.lst_orderMaster)
                {
                    <tr>
                        <td>
                            @item.Order_Invoice_Number
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <h6 class="m-b-0 m-l-10">@item.Customer_Name</h6>
                            </div>
                        </td>

                        <td>
                            <div class="d-flex align-items-center">
                                <h6 class="m-b-0 m-l-10">@item.Customer_City</h6>
                            </div>
                        </td>

                        <td>
                            <div class="d-flex align-items-center">
                                <h6 class="m-b-0 m-l-10">@item.Order_Date.ToString("dd-MMM-yyyy  h:mm tt")</h6>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <h6 class="m-b-0 m-l-10">@(Model.drp_OrderStatus.FirstOrDefault(t => t.Key == item.Orde_Status).Value.Replace('_', ' '))</h6>
                            </div>
                        </td>
                        <td>
                            <a class="btn btn-icon btn-hover btn-sm btn-rounded pull-right" href="@Url.Action("GetById", "OrderMaster")?OrderId=@item.Id">
                                <i class="anticon anticon-edit"></i>
                            </a>
                        </td>

                        <td>
                            <a class="btn btn-icon btn-hover btn-sm btn-rounded pull-right" href="@Url.Action("GetHistoryById", "OrderMaster")?OrderId=@item.Id">
                                <i class="anticon anticon-eye"></i>
                            </a>
                        </td>

                        <td>
                            <a class="btn btn-icon btn-hover btn-sm btn-rounded pull-right" target="_blank" href="@Url.Action("PrintOrderInvoice", "OrderMaster")?OrderId=@item.Id">
                                <i class="anticon anticon-printer"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
