@model Spice.DataContarct.ViewModel.OrderMaster_ViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>InvoicePrinting</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
            font-size: 15px;
            font-family: Calibri;
        }

        body {
            position: relative;
        }

        table, tr, th, td {
            margin: 0px;
            padding: 0px;
            vertical-align: top;
        }

        .footer {
            position: fixed;
            right: 0;
            bottom: 0;
            left: 0;
            padding-left: 10px;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-right: 10px;
            margin: 0px;
        }
    </style>
</head>
<body>
    <div style="text-align: center; position: relative; top:168px;left:94px">
        <button onclick="printInvoice()">Print Invoice</button>
    </div>
    <div style="min-height:11in; height:11in; max-height:11in; min-width:8.5in; width:8.5in; max-width:8.5in; padding:1cm;" id="DivInvoice">
        <form id="frmAddEditInvoice" method="post">

            <div>
                <div>
                    <div>

                        <div style=" float: left; width: 100%; height: 60px; text-align: center;">
                            <div class="logo">
                                <p style="font-size: 30px; margin: 0; font-weight: 600; color: #253237;">SPICE</p>
                            </div>
                        </div>

                        <div style="float: left; height: 120px; width: 100%; display: block; text-align: center;">
                            Mumbai<br />
                            <label> State:</label> <b>Maharashtra&nbsp; &nbsp;</b><label>State Code:</label> <b>&nbsp; &nbsp;</b> <label>GST No:</label><b></b>
                            <br />

                            <b style="font-size: 20px;">Tax Invoice</b>

                        </div>
                    </div>
                    <table style="width: 95%; border-collapse: collapse; border: 1px solid black; margin-top: 10px; position: relative; top: -37px;">
                        <tr>

                            <td style="min-width:482px; width:60%; max-width:482px; border:1px solid black;">
                                <table style="width:100%;">
                                    <tr>
                                        <td style="padding-top:3px;">
                                            M/s. <label style="font-weight: bold; font-size: 20px; text-transform: uppercase;">@Model.orderMaster.Customer_Name</label>
                                        </td>
                                    </tr>
                                    <tr></tr>
                                    <tr></tr>
                                    <tr>
                                        <td style="font-weight:bold;">
                                            <lable>Shipping Address : </lable>
                                        </td>
                                        <td style="font-weight:bold;">
                                            <lable>Billing Address : </lable>
                                        </td>
                                    </tr>

                                    <tr>
                                       
                                        <td>@Html.Raw(Model.customer_Address.ShippingAddress)</td>
                                        <td>@Html.Raw(Model.customer_Address.BillingAddress)</td>
                                    </tr>


                                </table>
                            </td>
                            <td style="min-width:133px; width:40%; max-width:133px; border:1px solid black; text-align:center;">
                                Invoice No.<br />
                                <label style="font-weight:bold; font-size:20px;">@Model.orderMaster.Order_Invoice_Number</label><br /><br />
                                Invoice Date.<br />
                                <label style="font-weight:bold; font-size:20px;">@(DateTime.Now.ToString("dd-MMM-yyyy"))</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="border:1px solid black;">
                                <table style="width:100%; border-collapse:collapse;">
                                    <tr>
                                        <th style="border-bottom: 1px solid black; min-width: 35px; width: 35px; max-width: 35px; padding-top: 4px; padding-bottom: 4px;">sr.</th>
                                        <th style="border-bottom: 1px solid black; border-left: 1px solid black; border-right: 1px solid black; padding-top: 4px; padding-bottom: 4px;">Particular</th>
                                        <th style="border-bottom: 1px solid black; border-left: 1px solid black; border-right: 1px solid black; min-width: 65px; width: 60px; max-width: 70px; padding-top: 4px; padding-bottom: 4px;">SKU</th>
                                        <th style="border-bottom: 1px solid black; border-left: 1px solid black; border-right: 1px solid black; min-width: 40px; width: 35px; max-width: 35px; padding-top: 4px; padding-bottom: 4px;">Qty.</th>
                                        <th style="border-bottom: 1px solid black; border-left: 1px solid black; border-right: 1px solid black; min-width: 50px; width: 60px; max-width: 50px; padding-top: 4px; padding-bottom: 4px;">Rate/Pc</th>
                                        <th style="border-bottom: 1px solid black; border-left: 1px solid black; border-right: 1px solid black; min-width: 40px; width: 40px; max-width: 40px; padding-top: 4px; padding-bottom: 4px;">Dis. %</th>
                                        <th style="border-bottom: 1px solid black; border-left: 1px solid black; border-right: 1px solid black; min-width: 35px; width: 50px; max-width: 35px; padding-top: 4px; padding-bottom: 4px;">CGST %</th>
                                        <th style="border-bottom: 1px solid black; border-left: 1px solid black; border-right: 1px solid black; min-width: 35px; width: 50px; max-width: 35px; padding-top: 4px; padding-bottom: 4px;">SGST %</th>
                                        <th style="display:none;"></th>
                                        <th style="border-bottom: 1px solid black; min-width: 60px; width: 60px; max-width: 60px; padding-top: 4px; padding-bottom: 4px;">Amt.(Rs.)</th>
                                    </tr>
                                    @{
                                        var count = 1;
                                        foreach (var item in Model.order_Item_Details)
                                        {
                                            <tr>

                                                <td style="padding:3px;"><b>@count</b></td>
                                                <td style="border-left: 1px solid black; border-right: 1px solid black; padding: 3px; font-size: 17px">
                                                    <h6>@item.ProductName</h6>
                                                </td>
                                                <td style="border-left:1px solid black; border-right:1px solid black; padding:3px;">@item.ProductSKUCode</td>
                                                <td style="border-left:1px solid black; border-right:1px solid black; padding:3px;">@item.Quantity</td>
                                                <td style="border-left:1px solid black; border-right:1px solid black; padding:3px;">@item.UnitPrice</td>
                                                <td style="border-left:1px solid black; border-right:1px solid black; padding:3px;">0</td>
                                                <td style="border-left:1px solid black; border-right:1px solid black; padding:3px;">@item.TaxAmmount</td>
                                                <td style="border-left:1px solid black; border-right:1px solid black; padding:3px;">0</td>
                                                <td style="display:none;"></td>
                                                <td style="border-left:1px solid black; border-right:1px solid black; padding:3px;">@item.FinalAmmount</td>
                                            </tr>
                                            count++;
                                        }
                                    }
                                    <tr>
                                        <td style="padding:3px;"></td>
                                        <td style="border-left:1px solid black; border-right:1px solid black; padding:3px;">
                                            &nbsp;
                                        </td>
                                        <td style="border-left:1px solid black; border-right:1px solid black; padding:3px;"></td>
                                        <td style="border-left:1px solid black; border-right:1px solid black; padding:3px;"></td>
                                        <td style="border-left:1px solid black; border-right:1px solid black; padding:3px;"></td>
                                        <td style="border-left:1px solid black; border-right:1px solid black; padding:3px;"></td>
                                        <td style="border-left:1px solid black; border-right:1px solid black; padding:3px;"></td>
                                        <td style="border-left:1px solid black; border-right:1px solid black; padding:3px;"></td>
                                        <td style="display:none;"></td>
                                        <td style="border-left:1px solid black; border-right:1px solid black; padding:3px;"></td>
                                    </tr>

                                    @*<tr>
                                            <td style="padding:3px;"></td>
                                            <td style="border-left:1px solid black; border-right:1px solid black; padding:3px;"></td>
                                            <td style="border-left:1px solid black; border-right:1px solid black; padding:3px; text-align:center;">TOTAL</td>
                                            <td style="border-left:1px solid black; border-right:1px solid black; padding:3px; text-align:right;font-weight:bold;">1</td>
                                            <td style="border-left:1px solid black; border-right:1px solid black; padding:3px; text-align:right;"></td>
                                            <td style="border-left:1px solid black; border-right:1px solid black; padding:3px; text-align:right;"></td>
                                            <td style="border-left:1px solid black; border-right:1px solid black; padding:3px; text-align:right;"></td>
                                            <td style="border-left:1px solid black; border-right:1px solid black; padding:3px; text-align:right;"></td>
                                            <td style="display:none;"></td>
                                            <td style="border-left:1px solid black; border-right:1px solid black; padding:3px; text-align:right;"></td>
                                        </tr>*@
                                </table>
                            </td>
                        </tr>


                        <tr>
                            <td colspan="3">

                                <table style="border-collapse: collapse; border-bottom: solid 1px; width: 100%; vertical-align: top;">
                                    <tr style="border-top:solid 1px;">
                                        <td style="border-right:solid 1px;border-bottom:solid 1px; width:25px; min-width:25px; max-width:25px; padding:3px;">
                                            <span></span>
                                        </td>
                                        <td style="border-right:solid 1px;border-bottom:solid 1px;text-align:center;font-weight:bold;width:40px; min-width:40px; max-width:40px; padding:3px;">
                                            6%
                                        </td>
                                        <td style="border-right:solid 1px;border-bottom:solid 1px;text-align:center;font-weight:bold;width:40px; min-width:40px; max-width:40px; padding:3px;">
                                            9%
                                        </td>
                                        <td style="border-right:solid 1px;border-bottom:solid 1px;text-align:center;font-weight:bold;width:40px; min-width:40px; max-width:40px; padding:3px;">
                                            12%
                                        </td>
                                        <td style="border-right:solid 1px;border-bottom:solid 1px;text-align:center;font-weight:bold;width:40px; min-width:40px; max-width:40px; padding:3px;">
                                            18%
                                        </td>
                                        <td style="border-right:solid 1px;border-bottom:solid 1px;text-align:center;font-weight:bold;width:40px; min-width:40px; max-width:40px; padding:3px;">
                                            Total
                                        </td>
                                        <td style="padding:3px;">Correspondence Address: <b>SPICE</b> @*<h6>Brahans Business Park, Off Mahakali Caves Rd, Andheri East, Mumbai, Maharashtra 400093</h6>*@</td>
                                        <td style='text-align: left; border-left: solid 1px;border-collapse:collapse;  border-top: solid 1px; width:80px; min-width:80px; max-width:80px; padding:3px;'>Total:</td>


                                        <td style='text-align: right; border-top: solid 1px;border-collapse:collapse;width:80px; min-width:80px; max-width:80px; padding:3px;'> @Model.orderMaster.Total_Without_Tax</td>

                                    </tr>
                                    <tr>
                                        <td style="border-right:solid 1px;border-bottom:solid 1px; padding:3px;">
                                            <span>CGST</span>
                                        </td>
                                        @*<td style="border-right:solid 1px;border-bottom:solid 1px;text-align:right; padding:3px;">@Model._InvoiceInfo.InvoiceDetails.Where(j => j.CGST == 6).Sum(k => (k.Amount * (decimal)0.06)).ToString("#.00")</td>*@
                                        <td style="border-right:solid 1px;border-bottom:solid 1px;text-align:right; padding:3px;"> </td>

                                        <td style="border-right:solid 1px;border-bottom:solid 1px;text-align:right; padding:3px;"></td>
                                        <td style="border-right:solid 1px;border-bottom:solid 1px;text-align:right; padding:3px;"></td>
                                        <td style="border-right:solid 1px;border-bottom:solid 1px;text-align:right; padding:3px;"></td>
                                        <td style="border-right:solid 1px;border-bottom:solid 1px;text-align:right; padding:3px;"></td>
                                        <td style="padding:3px;"></td>
                                        <td style='text-align: left; border-left: solid 1px; padding:3px;'></td>
                                        <td style='text-align: right; padding:3px;'></td>

                                    </tr>
                                    <tr>
                                        <td style="border-right:solid 1px;border-bottom:solid 1px; padding:3px;">
                                            <span>SGST</span>
                                        </td>
                                        <td style="border-right:solid 1px;border-bottom:solid 1px;text-align:right; padding:3px;"></td>
                                        <td style="border-right:solid 1px;border-bottom:solid 1px;text-align:right; padding:3px;"> </td>
                                        <td style="border-right:solid 1px;border-bottom:solid 1px;text-align:right; padding:3px;"></td>
                                        <td style="border-right:solid 1px;border-bottom:solid 1px;text-align:right; padding:3px;"></td>
                                        <td style="border-right:solid 1px;border-bottom:solid 1px;text-align:right; padding:3px;"></td>
                                        <td style="padding:3px;"></td>
                                        <td style='text-align: left; border-left: solid 1px; padding:3px;'></td>
                                        <td style='text-align: right; padding:3px;'></td>

                                    </tr>
                                    <tr>
                                        <td style="border-right:solid 1px;border-bottom:solid 1px; padding:3px;">
                                            <span>IGST</span>
                                        </td>
                                        <td style="border-right:solid 1px;border-bottom:solid 1px;text-align:right; padding:3px;"></td>
                                        <td style="border-right:solid 1px;border-bottom:solid 1px;text-align:right; padding:3px;"></td>
                                        <td style="border-right:solid 1px;border-bottom:solid 1px;text-align:right; padding:3px;"></td>
                                        <td style="border-right:solid 1px;border-bottom:solid 1px;text-align:right; padding:3px;"></td>
                                        <td style="border-right:solid 1px;border-bottom:solid 1px;text-align:right; padding:3px;"></td>
                                        <td style="padding:3px;">Tel: 9987413832  </td>
                                        <td style='text-align: left; border-left: solid 1px; padding:3px;'>Add :Taxation </td>
                                        <td style='text-align: right; padding:3px;'>@Model.orderMaster.Total_Taxation_Amount</td>
                                    </tr>
                                    <tr>
                                        <td style="border-right:solid 1px;border-bottom:solid 1px; padding:3px;">
                                            <span>Total</span>
                                        </td>

                                        <td style="border-right:solid 1px;border-bottom:solid 1px;text-align:right; padding:3px;"></td>

                                        <td style="border-right:solid 1px;border-bottom:solid 1px;text-align:right; padding:3px;"></td>

                                        <td style="border-right:solid 1px;border-bottom:solid 1px;text-align:right; padding:3px;"></td>

                                        <td style="border-right:solid 1px;border-bottom:solid 1px;text-align:right; padding:3px;"></td>
                                        <td style="border-right:solid 1px;border-bottom:solid 1px;text-align:right; padding:3px;"></td>
                                        <td style="padding:3px;">Email: roshin.george@abacusinfosystem.com</td>
                                        <td style='text-align: left; border-left: solid 1px; padding:3px;'>Rounding(+/-)  </td>
                                        <td style='text-align: right; padding:3px;'>@(Model.orderMaster.Total_Without_Tax + Model.orderMaster.Total_Taxation_Amount)</td>
                                    </tr>
                                </table>

                                @*<table style='width: 100%; padding: 0px; padding-left: 0px;'>
                                        <tr>
                                            <td style="width:30%; word-wrap:break-word; font-size:11px; padding:3px;">
                                                Term & Conditions : Interest will be recovered 24% p.a. On Overdue bills*Claim of nature whatsoever will lapse unless raised in writing within 7 days from the date of Invoice.*Goods once sold cannot be returned and/or exchanged. *We reserve to ourselves the right to deemed payment of this bill at any time before due date. *Payment are to be made at our office by Demand Draft/RTGS/NEFT Only.
                                                <br>
                                                Any thing in written only will be valid.
                                            </td>
                                            <td style="vertical-align:top; padding:3px;min-width:120px;max-width:120px;width:120px;word-break:break-word;">
                                                <br />
                                                <label style="font-size: 13px;">Naration :</label>
                                                <br />
                                                <textarea rows="4" cols="50" style="width: 380px; height: 85px; border-color: #000; border: 0.5px solid;margin-top: 5px;" readonly>@Model._InvoiceInfo.InvoiceNarration </textarea>
                                            </td>
                                            <td style="vertical-align:top; padding:3px;"><label id="PrintDate" style="font-size:10px;"></label></td>
                                            <td style="vertical-align: top; padding: 3px; font-size: 10px;">(Paid)</td>
                                            <td style='padding: 3px; vertical-align: top; font-weight: bold; padding-right: 20px; text-align: right; font-size: 16px; '>
                                                For CONA INDUSTRIES<br /><br /><br /><br /><br /><br />
                                                Authorised Signatory
                                            </td>
                                        </tr>
                                    </table>*@
                            </td>
                        </tr>
                    </table>
                </div>



            </div>
        </form>
    </div>

</body>
</html>
<script src="~/Scripts/Order/OrderInvoice.js"></script>