@model Spice.DataContarct.ViewModel.FrontEndViewModel
@{
    Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Spice</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon/favicon.png" />
</head>
<body>
    <!-- main layout start from here -->
    <!--====== PRELOADER PART START ======-->
    @*<div id="preloader">
            <div class="preloader">
                <span></span>
                <span></span>
            </div>
        </div>*@
    <!--====== PRELOADER PART ENDS ======-->
    <div id="main">
        <!-- Header Start -->
        <div id="header"></div>
        <!-- Header End -->
        <!-- Breadcrumb Area start -->
        <section class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumb-content">
                            <h1 class="breadcrumb-hrading">Shop Page</h1>
                            <ul class="breadcrumb-links">
                                <li><a href="index.html">Home</a></li>
                                <li>Shop Grid</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb Area End -->
        <!-- Shop Category Area End -->
        <div class="shop-category-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <!-- Shop Top Area Start -->
                        <div class="shop-top-bar">
                            <!-- Left Side start -->
                            <div class="shop-tab nav mb-res-sm-15">
                                <a class="active" href="#shop-1" data-toggle="tab">
                                    <i class="fa fa-th show_grid"></i>
                                </a>
                                <a href="#shop-2" data-toggle="tab">
                                    <i class="fa fa-list-ul"></i>
                                </a>
                                <p>There Are @Model.CategoryList.Count Products.</p>
                            </div>
                            <!-- Left Side End -->
                            <!-- Right Side Start -->
                            <div class="select-shoing-wrap">
                                <div class="shot-product">
                                    <p>Sort By:</p>
                                </div>
                                <div class="shop-select">
                                    <select>
                                        <option value="">Sort by newness</option>
                                        <option value="">A to Z</option>
                                        <option value=""> Z to A</option>
                                        <option value="">In stock</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Right Side End -->
                        </div>
                        <!-- Shop Top Area End -->
                        <!-- Shop Bottom Area Start -->
                        <div class="shop-bottom-area mt-35">
                            <!-- Shop Tab Content Start -->
                            <div class="tab-content jump">
                                <!-- Tab One Start -->
                                <div id="shop-1" class="tab-pane active">
                                    <div class="row">
                                        @if (Model.CategoryList != null && Model.CategoryList.Count > 0)
                                        {
                                            foreach (var item in Model.CategoryList)
                                            {
                                                <div class="col-xl-3 col-md-4 col-sm-6">
                                                    <article class="list-product">
                                                        <div class="img-block">
                                                            <a href="single-product.html" class="thumbnail">
                                                                <img class="first-img" src="assets/images/product-image/organic/product-1.jpg" alt="" />
                                                                <img class="second-img" src="assets/images/product-image/organic/product-1.jpg" alt="" />
                                                            </a>
                                                        </div>
                                                        @*<ul class="product-flag">
                                                                <li class="new">New</li>
                                                            </ul>*@
                                                        <div class="product-decs">
                                                            <h2><a href="single-product.html" class="product-link">@item.CategoryName</a></h2>
                                                            <a class="inner-link" href="shop-4-column.html"><span>@item.CategoryShortDescription</span></a>
                                                            @*<div class="rating-product">
                                                                    <i class="ion-android-star"></i>
                                                                    <i class="ion-android-star"></i>
                                                                    <i class="ion-android-star"></i>
                                                                    <i class="ion-android-star"></i>
                                                                    <i class="ion-android-star"></i>
                                                                </div>*@
                                                            @*<div class="pricing-meta">
                                                                    <ul>
                                                                        <li class="old-price">€18.90</li>
                                                                        <li class="current-price">€34.21</li>
                                                                        <li class="discount-price">-5%</li>
                                                                    </ul>
                                                                </div>*@
                                                        </div>
                                                    </article>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                                <!-- Tab One End -->
                                <!-- Tab Two Start -->
                                <div id="shop-2" class="tab-pane">
                                    @if (Model.CategoryList != null && Model.CategoryList.Count > 0)
                                    {
                                        foreach (var item in Model.CategoryList)
                                        {
                                            <div class="shop-list-wrap mb-30px scroll-zoom">
                                                <div class="row list-product m-0px">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                                <div class="left-img">
                                                                    <div class="img-block">
                                                                        <a href="single-product.html" class="thumbnail">
                                                                            <img class="first-img" src="assets/images/product-image/organic/product-7.jpg" alt="" />
                                                                            <img class="second-img" src="assets/images/product-image/organic/product-8.jpg" alt="" />
                                                                        </a>
                                                                    </div>
                                                                    @*<ul class="product-flag">
                                                                        <li class="new">New</li>
                                                                    </ul>*@
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                                <div class="product-desc-wrap">
                                                                    <div class="product-decs">
                                                                        <a class="inner-link" href="shop-4-column.html"><span>@item.CategoryName</span></a>
                                                                        <h2><a href="single-product.html" class="product-link">@item.CategoryShortDescription</a></h2>
                                                                        @*<div class="rating-product">
                                                                            <i class="ion-android-star"></i>
                                                                            <i class="ion-android-star"></i>
                                                                            <i class="ion-android-star"></i>
                                                                            <i class="ion-android-star"></i>
                                                                            <i class="ion-android-star"></i>
                                                                        </div>*@
                                                                        @*<div class="pricing-meta">
                                                                            <ul>
                                                                                <li class="old-price not-cut">€9.90</li>
                                                                            </ul>
                                                                        </div>*@
                                                                        <div class="product-intro-info">
                                                                            <p>@item.CategoryShortDescription</p>
                                                                        </div>
                                                                        @*<div class="in-stock">Availability: <span>299 In Stock</span></div>*@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                                <!-- Tab Two End -->
                            </div>
                            <!-- Shop Tab Content End -->
                            <!--  Pagination Area Start -->
                            <div class="pro-pagination-style text-center">
                                <ul>
                                    <li>
                                        <a class="prev" href="#"><i class="ion-ios-arrow-left"></i></a>
                                    </li>
                                    <li><a class="active" href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li>
                                        <a class="next" href="#"><i class="ion-ios-arrow-right"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!--  Pagination Area End -->
                        </div>
                        <!-- Shop Bottom Area End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Shop Category Area End -->
        <!-- Footer Area start -->
        <div id="footer"></div>
        <!--  Footer Area End -->
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5 col-sm-12 col-xs-12">
                            <div class="tab-content quickview-big-img">
                                <div id="pro-1" class="tab-pane fade show active">
                                    <img src="assets/images/product-image/organic/product-11.jpg" alt="" />
                                </div>
                                <div id="pro-2" class="tab-pane fade">
                                    <img src="assets/images/product-image/organic/product-9.jpg" alt="" />
                                </div>
                                <div id="pro-3" class="tab-pane fade">
                                    <img src="assets/images/product-image/organic/product-20.jpg" alt="" />
                                </div>
                                <div id="pro-4" class="tab-pane fade">
                                    <img src="assets/images/product-image/organic/product-19.jpg" alt="" />
                                </div>
                            </div>
                            <!-- Thumbnail Large Image End -->
                            <!-- Thumbnail Image End -->
                            <div class="quickview-wrap mt-15">
                                <div class="quickview-slide-active owl-carousel nav owl-nav-style owl-nav-style-2" role="tablist">
                                    <a class="active" data-toggle="tab" href="#pro-1"><img src="assets/images/product-image/organic/product-11.jpg" alt="" /></a>
                                    <a data-toggle="tab" href="#pro-2"><img src="assets/images/product-image/organic/product-9.jpg" alt="" /></a>
                                    <a data-toggle="tab" href="#pro-3"><img src="assets/images/product-image/organic/product-20.jpg" alt="" /></a>
                                    <a data-toggle="tab" href="#pro-4"><img src="assets/images/product-image/organic/product-19.jpg" alt="" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-12 col-xs-12">
                            <div class="product-details-content quickview-content">
                                <h2>Originals Kaval Windbr</h2>
                                <p class="reference">Reference:<span> demo_17</span></p>
                                <div class="pro-details-rating-wrap">
                                    <div class="rating-product">
                                        <i class="ion-android-star"></i>
                                        <i class="ion-android-star"></i>
                                        <i class="ion-android-star"></i>
                                        <i class="ion-android-star"></i>
                                        <i class="ion-android-star"></i>
                                    </div>
                                    <span class="read-review"><a class="reviews" href="#">Read reviews (1)</a></span>
                                </div>
                                <div class="pricing-meta">
                                    <ul>
                                        <li class="old-price not-cut">€18.90</li>
                                    </ul>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisic elit eiusm tempor incidid ut labore et dolore magna aliqua. Ut enim ad minim venialo quis nostrud exercitation ullamco</p>
                                <div class="pro-details-size-color">
                                    <div class="pro-details-color-wrap">
                                        <span>Color</span>
                                        <div class="pro-details-color-content">
                                            <ul>
                                                <li class="blue"></li>
                                                <li class="maroon active"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="pro-details-quality">
                                    <div class="cart-plus-minus">
                                        <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1" />
                                    </div>
                                    <div class="pro-details-cart btn-hover">
                                        <a href="#"> + Add To Cart</a>
                                    </div>
                                </div>
                                <div class="pro-details-wish-com">
                                    <div class="pro-details-wishlist">
                                        <a href="#"><i class="ion-android-favorite-outline"></i>Add to wishlist</a>
                                    </div>
                                    <div class="pro-details-compare">
                                        <a href="#"><i class="ion-ios-shuffle-strong"></i>Add to compare</a>
                                    </div>
                                </div>
                                <div class="pro-details-social-info">
                                    <span>Share</span>
                                    <div class="social-info">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="ion-social-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="ion-social-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="ion-social-google"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="ion-social-instagram"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal end -->
</body>
</html>
