@model Spice.DataContarct.ViewModel.CustomerFavourites_ViewModel
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}

<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">Vendor List</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Admin</a>
                <a class="breadcrumb-item" href="#">CustomerFavourites</a>
                <span class="breadcrumb-item active">Search</span>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row m-b-30">
                <div class="col-lg-8">
                    <div class="d-md-flex">
                        <div class="m-b-10 m-r-15">
                            @*<select class="custom-select" style="min-width: 180px;">
                                    <option selected="">Vendor Name</option>
                                    <option value="all">All</option>
                                    <option value="homeDeco">Home Decoration</option>
                                    <option value="eletronic">Eletronic</option>
                                    <option value="jewellery">Jewellery</option>
                                </select>*@
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-right">
                    <a class="btn btn-primary" href="@Url.Action("Index", "CustomerFavourites")">
                        <i class="anticon anticon-plus-circle m-r-5"></i>
                        <span>Add</span>
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover e-commerce-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Customer Name</th>
                            <th>Product Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.lst_CustomerFavourites != null)
                        {
                            var count = 1;
                            foreach (var item in Model.lst_CustomerFavourites)
                            {
                                <tr>
                                    <td>
                                        @count
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <h6 class="m-b-0 m-l-10">@item.Customer_Name</h6>
                                        </div>
                                    </td>
                                    <td>@item.Product_Name</td>
                                    
                                    <td>
                                            <a class="btn btn-icon btn-hover btn-sm btn-rounded pull-right" href="@Url.Action("GetCustomerFavouritesById", "CustomerFavourites")?Id=@item.ID">
                                                <i class="anticon anticon-edit"></i>
                                            </a>
                                            @*<a class="btn btn-icon btn-hover btn-sm btn-rounded" href="@Url.Action("DeleteVendor", "Vendor")?VendorId=@item.Id">
                                                <i class="anticon anticon-delete"></i>
                                            </a>*@
                                        </td>
                                </tr>
                                count++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

