@model Spice.DataContarct.ViewModel.OrderMaster_ViewModel
@{ 
    int item_count = 0;
}
<form>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Order</label>
                <p>@Model.orderMaster.Order_Invoice_Number</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Order Date</label>
                <p>@Model.orderMaster.Order_Date.ToString("dd-MMM-yyyy h:mm tt")</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Order Status</label>
                                  
                    @foreach (var item in Model.drp_OrderStatus)
                    {
                        if (Model.orderMaster.Orde_Status == item.Key)
                        {
                            <p>@item.Value.Replace('_', ' ') </p>
                        }
                        else { 
                        <p></p>
                        }
                    }
               
            </div>
        </div>
    </div>
</form>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4">
                <label>Name:</label>
            </div>
            <div class="col-md-8">
                <label>@Model.orderMaster.Customer_Name</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Address:</label>
            </div>
            <div class="col-md-8">
                <label>
                    @Html.Raw(Model.customer_Address.ShippingAddress)
                </label>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4">
                <label>Payment Method:</label>
            </div>
            <div class="col-md-6">
                <label>Credit Card</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Payment Mode:</label>
            </div>
            <div class="col-md-6">
                <label>CC Avenue</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Payment Status:</label>
            </div>
            <div class="col-md-6">
                @foreach (var item in Model.drp_PaymentStatus)
                {
                    if (Model.orderMaster.Payment_Status == item.Key)
                    {
                        <p>@item.Value.Replace('_', ' ') </p>
                    }
                    else
                    {
                        <p></p>
                    }
                }
            </div>
        </div>
    </div>
</div>

<hr />
<form>
    <div class="row">
        
        <div class="col-md-12">
            <h5 class="m-b-10 text-primary">Item Details</h5>
            <div class="table-responsive m-b-10">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>SKU</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>Price/unit</th>
                            <th>Tax Amt.</th>
                            <th>Total Amt.</th>                           
                            <th hidden></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.order_Item_Details)
                        {
                            <tr>
                                <td>@item.SKU</td>
                                <td>@item.ProductName</td>
                                <td>@item.Quantity</td>
                                <td>@item.Unit</td>
                                <td>@item.UnitPrice</td>
                                <td>@item.TaxAmmount</td>
                                <td>@item.FinalAmmount</td>
                               
                                <td hidden>@(item_count++)</td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>

