        <!-- Side Nav START -->
<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-dashboard"></i>
                    </span>
                    <span class="title">Dashboard</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="@Url.Action("Get_Listing","OrderMaster")">Order </a>
                    </li>
                    @*<li>
                            <a href="index-crm.html">CRM</a>
                        </li>
                        <li>
                            <a href="index-e-commerce.html">E-commerce</a>
                        </li>
                        <li>
                            <a href="index-projects.html">Projects</a>
                        </li>*@
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-branches"></i>
                    </span>
                    <span class="title">Master</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="@Url.Action("CategoryMaster","Category")">Category</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Search","Product")">Product</a>

                    </li>
                    <li>
                        <a href="@Url.Action("SubCategoryMaster","SubCategory")">Sub Category</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ProductSku","ProductPriceSKU")">Product Sku</a>
                    </li>
                    <li>
                        <a href="@Url.Action("VendorMaster", "Vendor")">Vendor</a>
                    </li>
                    <li>
                        <a href="@Url.Action("VendorProduct", "Vendor")">Vendor Product</a>
                    </li>
                    @*
        <li>
            <a href="@Url.Action("BlogMaster","Blog")">Blog</a>
        </li>
        <li>
            <a href="@Url.Action("GetCustomerFavouritesListing","CustomerFavourites")">Customer Favourites</a>
        </li>
        <li>
            <a href="@Url.Action("GetCustomerRatingListing","CustomerRating")">Customer Rating</a>
        </li>
        <li>
            <a href="@Url.Action("VideoMaster","VideoMaster")">Video</a>
        </li>
        <li>
            <a href="@Url.Action("ReceipeMaster", "Receipe")">Receipe</a>
        </li>*@
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- Side Nav END -->
