@using Spice.DataContarct.DataModel;
@{
    Spice.DataContarct.ViewModel.FrontEndViewModel FrontEnd = new Spice.DataContarct.ViewModel.FrontEndViewModel();
    if (TempData["MenuList"] != null)
    {
        FrontEnd.MenuList = TempData["MenuList"] as List<Menu_DataModel>;
    }



    <div class="home-4">
        <header class="main-header home-2">
            <!-- Header Top Start -->
            <div class="header-top-nav">
                <div class="container">
                    <div class="row">
                        <!--Left Start-->
                        <div class="col-lg-4 col-md-4">
                            <div class="left-text">
                                <p>Welcome to Spice store!</p>
                            </div>
                        </div>
                        <!--Left End-->
                        <!--Right Start-->
                        <div class="col-lg-8 col-md-8 text-right">
                            <div class="header-right-nav">
                                <ul class="res-xs-flex">
                                    <li class="after-n">
                                        @* <a href="compare.html"><i class="ion-ios-shuffle-strong"></i>Compare (0)</a>
                                            Commented Login for now.
                                        *@
                                        @if (HttpContext.Current.Session["FrontEnd_UserId"] == null)
                                        {
                                            <a href="@Url.Action("Index", "Login")"><i class="ion-ios-shuffle-strong"></i>Login</a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Index", "MyAccount")"> @HttpContext.Current.Session["FrontEnd_UserName"] </a>;
                                        }

                                    </li>
                                    <li>
                                        @*  <a href="wishlist.html"><i class="ion-android-favorite-outline"></i>Wishlist (0)</a>*@

                                        <a href="@Url.Action("FrontEndLogout", "Login")"><i class="ion-android-favorite-outline"></i>Log Out</a>
                                    </li>
                                </ul>
                                @*<ul class="res-xs-flex">
                                        <li class="after-n">
                                            <a href="@Url.Action("Index", "Login")"></i>Login</a>
                                        </li>

                                    </ul>*@
                                <div class="dropdown-navs">
                                    <ul>
                                        <!-- Settings Start -->
                                        <!-- Settings End -->
                                        <!-- Currency Start -->
                                        <!-- Currency End -->
                                        <!-- Language Start -->
                                        <!-- Language End -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--Right End-->
                    </div>
                </div>
            </div>
            <!-- Header Top End -->
            <!-- Header Buttom Start -->
            <div class="header-navigation sticky-nav">
                <div class="container">
                    <div class="container-inner">
                        <div class="row">
                            <!-- Logo Start -->
                            <div class="col-md-2 col-sm-2">
                                <div class="logo">
                                    <a href="@Url.Action("Index", "FrontEnd")"> <p style="font-size: 30px; margin: 0; font-weight: 600; color: #253237;">SPICE</p></a>
                                </div>
                            </div>
                            <!-- Logo End -->
                            <!-- Navigation Start -->
                            <div class="col-md-10 col-sm-10">
                                <!--Main Navigation Start -->
                                <div class="main-navigation d-none d-lg-block">
                                    <ul>
                                        <li class="menu-dropdown">
                                            <a href="#">Home <i class="ion-ios-arrow-down"></i></a>
                                            <ul class="sub-menu">

                                                @if (FrontEnd.MenuList != null && FrontEnd.MenuList.Count > 0)
                                                {
                                                    int mainMenuCount = 0;

                                                    var mainMenu = FrontEnd.MenuList.Select(a => new { a.CategoryName, a.CategoryId }).Distinct().ToList();
                                                    foreach (var itemMenu in mainMenu)
                                                    {
                                                        var submenuList = FrontEnd.MenuList.Where(a => a.CategoryName == itemMenu.CategoryName && a.SubCategoryName != null).Select(b => new { b.SubCategoryName, b.SubCategoryId }).Distinct().ToList();
                                                        <li class="menu-dropdown position-static">
                                                            @if (submenuList != null && submenuList.Count > 0)
                                                            {
                                                                <a href="/FrontEnd/ProductShop?cid=@itemMenu.CategoryId">@itemMenu.CategoryName <i class="ion-ios-arrow-down"></i></a>
                                                            }
                                                            else
                                                            {
                                                                <a href="/FrontEnd/ProductShop?cid=@itemMenu.CategoryId">@itemMenu.CategoryName</a>
                                                            }

                                                            @if (submenuList != null && submenuList.Count > 0)
                                                            {
                                                                int subMenuCount = 0;
                                                                <ul class="sub-menu sub-menu-2">
                                                                    @foreach (var itemSubMenu in submenuList)
                                                                    {
                                                                        <li><a href="/FrontEnd/ProductShop?cid=@itemSubMenu.SubCategoryId">@itemSubMenu.SubCategoryName</a></li>
                                                                        subMenuCount++;
                                                                        if (subMenuCount == submenuList.Count)
                                                                        {
                                                                            <li><a href="/FrontEnd/CategoryList?cid=@itemSubMenu.SubCategoryId">View All</a></li>
                                                                        }
                                                                    }
                                                                </ul>
                                                            }
                                                        </li>
                                                        mainMenuCount++;
                                                        if (mainMenuCount == mainMenu.Count)
                                                        {
                                                            <li class="menu-dropdown position-static">
                                                                <a href="/FrontEnd/CategoryList?cid=0">View All</a>
                                                            </li>
                                                        }
                                                    }
                                                }

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!--Main Navigation End -->
                                <!--Header Bottom Account Start -->
                                <div class="header_account_area">
                                    <!--Seach Area Start -->
                                    <!--Seach Area End -->
                                    <!--Cart info Start -->
                                    <div class="cart-info d-flex">
                                        <div class="mini-cart-warp">
                                            @if (@HttpContext.Current.Session["CartCount"] == null)
                                            {
                                                <a href="@Url.Action("CartF", "Cart")" class="count-cart" afterText="0"><span id="totalCart"></span></a>
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("CartF", "Cart")" class="count-cart" afterText="@HttpContext.Current.Session["CartCount"]"><span id="totalCart"></span></a>
                                            }

                                        </div>
                                    </div>
                                    <!--Cart info End -->
                                </div>
                            </div>
                        </div>
                        <!-- mobile menu -->
                        <div class="mobile-menu-area">

                        </div>
                        <!-- mobile menu end-->
                    </div>
                </div>
            </div>
            <!--Header Bottom Account End -->
        </header>
    </div>

}