@model Spice.DataContarct.ViewModel.Product_ViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/Product/Product_Event.js"></script>
<script src="~/Scripts/Product/Product_Method.js"></script>


<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">Form Layouts</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Admin</a>
                <a class="breadcrumb-item" href="#">Product</a>
                <span class="breadcrumb-item active">Index</span>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="text-right m-b-20">
                <button class="btn btn-primary" id="btnlstProduct">
                    @*<i class="anticon anticon-plus-circle m-r-5"></i>*@
                    <i class="anticon anticon-home m-r-5"></i>
                    <span>Product List</span>
                </button>
            </div>
            <div id="dvMsg">
                <div class="alert alert-success dvSuccess" style="display:none;">
                    <div class="d-flex align-items-center justify-content-start">
                        <span class="alert-icon">
                            <i class="anticon anticon-check-o"></i>
                        </span>
                        <span>Record Addedd Successfully!!!</span>
                    </div>
                </div>
                <div class="alert alert-success dvUpdate" style="display:none;">
                    <div class="d-flex align-items-center justify-content-start">
                        <span class="alert-icon">
                            <i class="anticon anticon-check-o"></i>
                        </span>
                        <span>Record Updated Successfully!!!</span>
                    </div>
                </div>
                <div class="alert alert-danger dvError" style="display:none;">
                    <div class="d-flex justify-content-start">
                        <span class="alert-icon m-r-20 font-size-30">
                            <i class="anticon anticon-close-circle"></i>
                        </span>
                        <div>
                            <h5 class="alert-heading">Error</h5>
                            <p>Failed to Insert</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="m-t-25" @*style="display:none;"*@ id="dvInsert">
                <form id="frmProduct" method="post" enctype="multipart/form-data">
                    <div class="form-row">
                        <input type="hidden" id="hdnProductId" value="@Model.Product.ProductId" name="Product.ProductId" />

                        <div class="form-group col-md-4">
                            <label for="txtProductCode">Product Code</label>
                            <input type="text" class="form-control required" id="txtProductCode" placeholder="Product Code" name="Product.ProductCode" value="@Model.Product.ProductCode">
                            <span class="error"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtProductName">Product Name</label>
                            <input type="text" class="form-control required" id="txtProductName" placeholder="Product Name" name="Product.ProductName" value="@Model.Product.ProductName">
                            <span class="error"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtProduct_Short_Desc">Product Short Description</label>
                            <input type="text" class="form-control required" id="txtProduct_Short_Desc" placeholder="Product Short Description" name="Product.Product_Short_Desc" value="@Model.Product.Product_Short_Desc">
                            <span class="error"></span>
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="inputMobile">Product Long Description</label>
                            @*<input type="text" class="form-control" id="txtProduct_Long_Desc" placeholder="Product Long Description" name="Product.Product_Long_Desc" value="@Model.Product.Product_Long_Desc">*@
                            <textarea class="form-control required" id="txtProduct_Long_Desc" placeholder="Product Long Description" name="Product.Product_Long_Desc">@Model.Product.Product_Long_Desc</textarea>
                            <span class="error"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmailId">Product Features</label>
                            @*<input type="text" class="form-control" id="txtProduct_Features" placeholder="Product Features" name="Product.Product_Features" value="@Model.Product.Product_Features">*@
                            <textarea class="form-control required" id="txtProduct_Features" placeholder="Product Features" name="Product.Product_Features">@Model.Product.Product_Features</textarea>
                            <span class="error"></span>
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputState">Product Category</label>
                            <select id="drpPCategory" name="Product.CategoryId" class="form-control required" onchange="javascript:GetSubCategoryByCategory()" placeholder="Product Category">
                                @*<option value="0">-Select Category-</option>
                    @foreach (var item in Model.lst_ProductCategory)
                    {
                        if (Model.Product.CategoryId == item.CategoryId)
                        {
                            <option value="@item.CategoryId" selected="selected">@item.CategoryName</option>
                        }
                        else
                        {
                            <option value="@item.CategoryId">@item.CategoryName</option>
                        }
                    }*@
                                @if (@Model.Product.ProductId != 0)
                                {
                                    <option value="0">-Select Category-</option>
                                    foreach (var item in Model.lst_ProductCategory)
                                    {
                                        if (Model.drp_lst_ProductCategor[0].CategoryId == item.CategoryId)
                                        {
                                            <option value="@item.CategoryId" selected="selected">@item.CategoryName</option>
                                        }
                                        else
                                        {
                                            <option value="@item.CategoryId">@item.CategoryName</option>
                                        }
                                    }
                                }
                                else
                                {
                                    <option value="">-Select Category-</option>
                                    foreach (var item in Model.lst_ProductCategory)
                                    {
                                        if (Model.Product.CategoryId == item.CategoryId)
                                        {
                                            <option value="@item.CategoryId" selected="selected">@item.CategoryName</option>
                                        }
                                        else
                                        {
                                            <option value="@item.CategoryId">@item.CategoryName</option>
                                        }
                                    }
                                }

                            </select>
                            <span class="error"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputState">Product Sub Category</label>
                            <select id="drpPSCategory" name="Product.SubCategoryId" class="form-control required" placeholder="Product Sub Category">
                                @if (Model.Product.ProductId != 0)
                                {
                                    <option value="@Model.drp_lst_ProductCategor[0].SubCategoryId">@Model.drp_lst_ProductCategor[0].SubCategoryName</option>
                                }
                                else
                                {
                                    <option value="">-Select SubCategory-</option>
                                }
                                @*<option value="0">-Select SubCategory-</option>*@
                            </select>
                            <span class="error"></span>
                        </div>
                    </div>

                    <div class="form-row">

                        <div class="form-group col-md-4">
                            <label for="txtProductCode">Origination And History</label>
                            <input type="text" class="form-control required" id="txtOriginationAndHistory" placeholder="Origination And History" name="Product.OriginationAndHistory" value="@Model.Product.OriginationAndHistory">
                            <span class="error"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtProductName">Types</label>
                            <input type="text" class="form-control required" id="txtTypes" placeholder="Types" name="Product.Types" value="@Model.Product.Types">
                            <span class="error"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtProduct_Short_Desc">Appearance, Aroma And Taste</label>
                            <input type="text" class="form-control required" id="txtAppearance" placeholder="Appearance, Aroma And Taste" name="Product.Appearance" value="@Model.Product.Appearance">
                            <span class="error"></span>
                        </div>
                    </div>

                    <div class="form-row">

                        <div class="form-group col-md-4">
                            <label for="txtProductCode">Constituents</label>
                            <input type="text" class="form-control required" id="txtConstituents" placeholder="Constituents" name="Product.Constituents" value="@Model.Product.Constituents">
                            <span class="error"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtProductName">Known In Language</label>
                            <input type="text" class="form-control required" id="txtKnownInanguage" placeholder="Known in language" name="Product.KnownInLanguage" value="@Model.Product.KnownInLanguage">
                            <span class="error"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtProduct_Short_Desc">Health Benefits</label>
                            <input type="text" class="form-control required" id="txtHealthBenefit" placeholder="Health Benefit" name="Product.HealthBenefit" value="@Model.Product.HealthBenefit">
                            <span class="error"></span>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-3 d-flex align-items-center">
                            <div class="switch m-r-10">
                                @if (Model.Product.IsActive == false)
                                {
                                    if (Model.Product.ProductCode == null)
                                    {
                                        <input type="checkbox" name="Product.IsActive" id="switch-1" value="true" checked="checked">
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="Product.IsActive" id="switch-1" value="false">
                                    }

                                }
                                else
                                {
                                    <input type="checkbox" name="Product.IsActive" id="switch-1" value="true" checked="checked">
                                }
                                <label for="switch-1"></label>
                            </div>
                            <label>Is Active</label>
                        </div>

                        <div class="form-group col-md-3 d-flex align-items-center">
                            <div class="switch m-r-10">
                                @if (Model.Product.IsRefundable == false)
                                {
                                    <input type="checkbox" name="Product.IsRefundable" id="switch-2" value="false">
                                }
                                else
                                {
                                    <input type="checkbox" data-switchery="true" name="Product.IsRefundable" id="switch-2" value="true" checked="checked">
                                }


                                <label for="switch-2"></label>
                            </div>
                            <label>Is Refundable</label>
                        </div>

                        <div class="form-group col-md-3 d-flex align-items-center">
                            <div class="switch m-r-10">
                                @if (Model.Product.IsFeatured == false)
                                {
                                    <input type="checkbox" name="Product.IsFeatured" id="switch-3" value="false">
                                }
                                else
                                {
                                    <input type="checkbox" data-switchery="true" name="Product.IsFeatured" id="switch-3" value="true" checked="checked">
                                }


                                <label for="switch-3"></label>
                            </div>
                            <label>Is Featured</label>
                        </div>

                        <div class="form-group col-md-3 d-flex align-items-center">
                            <div class="switch m-r-10">
                                @if (Model.Product.IsRecommended == false)
                                {
                                    <input type="checkbox" name="Product.IsRecommended" id="switch-4" value="false">
                                }
                                else
                                {
                                    <input type="checkbox" name="Product.IsRecommended" id="switch-4" value="true" checked="checked">
                                }


                                <label for="switch-4"></label>
                            </div>
                            <label>Is Recommended</label>
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group billing-info">
                                <div class="form-group billing-info">
                                    @if (@Model.Product.ProductImage1 != null)
                                    {
                                        <img id="img1"
                                             height="100"
                                             width="90"
                                             src="@Url.Content("~//Uploads//ProductImage//" + Model.Product.ProductImage1)"
                                             style="border:solid" />@*<a style="color:red;font-size: 21px;padding-left: 28px;" href="#"><u><b>Remove</b></u></a>*@
                                        }
                                        else
                                        {
                                            <img id="img1"
                                                 height="100"
                                                 width="90"
                                                 src="@Url.Content("~//Img//plus.jpg")"
                                                 style="border:solid" />
                                        }
                                </div>
                                <label>Product Default Image</label>
                                @if (Model.Product.ProductId != 0)
                                {
                                    <input type="file" class="form-control prImage" name="ImageData1" id="ImageData1" onchange="return ValidateFileUpload(id, '#img1');showImage1(this)" placeholder="Product Default Image" @*onchange="showImage1(this);return ValidateFileUpload()"*@ />
                                }
                                else
                                {
                                    <input type="file" class="form-control required prImage" name="ImageData1" id="ImageData1" onchange="return ValidateFileUpload(id, '#img1');showImage1(this)" placeholder="Product Default Image" @*onchange="showImage1(this);return ValidateFileUpload()"*@ />
                                }

                                <input type="hidden" class="form-control" name="Product.ProductImage1" value="@Model.Product.ProductImage1" />
                                <span class="error defaultimg"></span>
                            </div>
                        </div>


                    </div>
                    <div class="form-row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group billing-info">
                                <div class="form-group billing-info">
                                    @if (@Model.Product.ProductImage2 != null)
                                    {
                                        <img id="img2"
                                             height="100"
                                             width="90"
                                             src="@Url.Content("~//Uploads//ProductImage//" + Model.Product.ProductImage2)"
                                             style="border:solid" />@*<a style="color:red" href="#">Delete</a>*@
                                        }
                                        else
                                        {
                                            <img id="img2"
                                                 height="100"
                                                 width="90"
                                                 src="@Url.Content("~//Img//plus.jpg")"
                                                 style="border:solid" />
                                        }
                                </div>
                                <label>Product First Image</label>
                                <input type="file" class="form-control " name="ImageData2" id="ImageData2" onchange="return ValidateFileUpload(id,'#img2');showImage2(this)" />
                                <input type="hidden" class="form-control" name="Product.ProductImage2" value="@Model.Product.ProductImage2" />
                                <span class="error"></span>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group billing-info">
                                <div class="form-group billing-info">
                                    @if (@Model.Product.ProductImage3 != null)
                                    {
                                        <img id="img3"
                                             height="100"
                                             width="90"
                                             src="@Url.Content("~//Uploads//ProductImage//" + Model.Product.ProductImage3)"
                                             style="border:solid" />@*<a style="color:red" href="#">Delete</a>*@
                                        }
                                        else
                                        {
                                            <img id="img3"
                                                 height="100"
                                                 width="90"
                                                 src="@Url.Content("~//Img//plus.jpg")"
                                                 style="border:solid" />
                                        }
                                </div>
                                <label>Product Second Image</label>
                                <input type="file" class="form-control" name="ImageData3" id="ImageData3" onchange="return ValidateFileUpload(id,'#img3');showImage3(this)" />
                                <input type="hidden" class="form-control" name="Product.ProductImage3" value="@Model.Product.ProductImage3" />
                                <span class="error"></span>
                            </div>
                        </div>


                    </div>
                    <div class="form-row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group billing-info">
                                <div class="form-group billing-info">
                                    @if (@Model.Product.ProductImage4 != null)
                                    {
                                        <img id="img4"
                                             height="100"
                                             width="90"
                                             src="@Url.Content("~//Uploads//ProductImage//" + Model.Product.ProductImage4)"
                                             style="border:solid" />@*<a style="color:red" href="#">Delete</a>*@
                                        }
                                        else
                                        {
                                            <img id="img4"
                                                 height="100"
                                                 width="90"
                                                 src="@Url.Content("~//Img//plus.jpg")"
                                                 style="border:solid" />
                                        }
                                </div>
                                <label>Product Third Image</label>
                                <input type="file" class="form-control" name="ImageData4" id="ImageData4" onchange="return ValidateFileUpload(id,'#img4');showImage4(this)" />
                                <input type="hidden" class="form-control" name="Product.ProductImage4" value="@Model.Product.ProductImage4" />
                                <span class="error"></span>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group billing-info">
                                @if (@Model.Product.ProductImage5 != null)
                                {
                                    <img id="img5"
                                         height="100"
                                         width="90"
                                         src="@Url.Content("~//Uploads//ProductImage//" + Model.Product.ProductImage5)"
                                         style="border:solid" />@*<a style="color:red" href="#"><b>Delete</b></a>*@
                                    }
                                    else
                                    {
                                        <img id="img5"
                                             height="100"
                                             width="90"
                                             src="@Url.Content("~//Img//plus.jpg")"
                                             style="border:solid" />
                                    }
                            </div>
                            <div class="form-group billing-info">
                                <label>Product Fourth Image</label>
                                <input type="file" class="form-control" accept="image/x-png,image/jpeg,image/jpg" name="ImageData5" id="ImageData5" onchange="return ValidateFileUpload(id,'#img5');showImage5(this)" />
                                <input type="hidden" class="form-control" name="Product.ProductImage5" value="@Model.Product.ProductImage5" />
                                <span class="error"></span>
                            </div>
                        </div>
                    </div>

                    <button id="btnSaveProduct" class="btn btn-primary" type="submit">Save</button>
                    <a class="btn btn-primary" href="@Url.Action("Search","Product")">Cancel</a>

                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        debugger;
        if ('@ViewBag.Result'!= "")
        {
            if ('@ViewBag.Result' == "1") {
                $('.dvSuccess').show();
            }
            else if('@ViewBag.Result' == "2")
            {
                $('.dvUpdate').show();
            }
            else {
                $('.dvError').show();
            }
        }
        $("#dvMsg").delay(2000).hide(0);
    });
</script>
